ul {
	list-style-type: none;
}

.default-event {
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 30px;
}

form input {
	margin-bottom: 30px;
	width: auto;
}

.responsive-map-container {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.responsive-map-container {
		padding-bottom: 19.5%;
	}
}

.responsive-map-container .map {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#calendar .fc-view-container .fc-view table {
	margin-bottom: 0;
}